.container {
    background: rgba(38, 39, 40, 1);
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;
    height: calc(100vh - 96px);

    .we_create {
        padding-top:96px;

        font-family: NeueRegular;
        font-weight: 400;
        font-size: 192px;
        line-height: 223px;
        letter-spacing: -5px;
        color:white;
        
        max-width: 900px;
        margin-bottom: 96px;
    }

    .row2 {
        display: flex;
        justify-content: end;
        .row2_position {
            max-width: 619px;
            p {
                font-family: "NeueRegular";
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.16px;
                color: rgba(231, 231, 231, 1);
                margin-bottom: 48px;
            }
        }
    }
}