@use '../../../../mixins/responsive.scss' as *;
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 144px;
  @include res(mob) {
    margin-top: 88px;
    flex-direction: column;
  }
  .left {
    flex: 1;
    p {
      font-family: NeueRegular;
      font-weight: 400;
      font-size: 16px;
      line-height: 22.7px;
      letter-spacing: 0.16px;
      @include res(mob) {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.08px;
        margin-bottom: 30px;
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    @include res(mob){
        gap:30px;
    }

    .item {
      display: flex;
      gap: 32px;
      @include res(mob) {
        flex-direction: column;
        gap: 20px;
    
      }

      .item_left {
        flex: 0 0 320px;
        height: 100%;
        @include res(mob) {
          flex: 0 0 auto;
        }

        img {
          border-radius: 56px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include res(mob) {
            height: 400px;
            border-radius: 32px;
          }
        }
      }

      .item_right {
        max-width: 672px;
        border-top: 1px solid rgba(231, 231, 231, 1);
        border-bottom: 1px solid rgba(231, 231, 231, 1);
        padding-top: 24px;
        padding-bottom: 24px;
        @include res(mob) {
          padding: 20px 0;
          padding-bottom: 16px;
        }
        .item_title {
          font-family: NeueRegular;
          font-weight: 500;
          font-size: 24px;
          line-height: 34.1px;
          letter-spacing: 0px;
          text-align: justify;
          color: rgba(38, 39, 40, 1);
          margin-bottom: 4px;
          @include res(mob) {
            font-weight: 500;
            font-size: 18px;
            line-height: 25.5px;
            letter-spacing: 0.16px;
            text-align: justify;
            margin-bottom: 2.5px;
          }
        }

        .item_position {
          font-family: NeueRegular;
          font-weight: 400;
          font-size: 16px;
          line-height: 22.7px;
          letter-spacing: 0.16px;
          text-align: justify;
          color: rgba(0, 56, 255, 1);
          margin-bottom: 16px;
          @include res(mob) {
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: 0.08px;
            text-align: justify;
            margin-bottom: 10px;
          }
        }

        .item_content {
          font-family: Neueregular;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.16px;
          color: rgba(38, 39, 40, 1);
          margin-bottom: 74px;
          @include res(mob) {
            font-weight: 400;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: 0.4px;
            margin-bottom: 51.5px;
          }
        }

        .item_socials {
          display: flex;
          gap: 32px;
          align-items: center;
          @include res(mob) {
            gap: 20px;
          }

          a {
            display: flex;
            align-items: center;

            span:nth-child(1) {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 32px;
              height: 32px;
              @include res(mob) {
                svg {
                  width: 26px;
                  height: 26px;
                }
              }
            }

            span:nth-child(2) {
              font-family: NeueRegular;
              font-weight: 400;
              font-size: 24px;
              leading-trim: Cap height;
              line-height: 100%;
              letter-spacing: 0px;
              color: rgba(0, 56, 255, 1);
              @include res(mob) {
                font-weight: 400;
                font-size: 18px;
                leading-trim: Cap height;
                line-height: 100%;
                letter-spacing: 0px;
              }
            }
          }
        }
      }
    }
  }
}
