.container {
    background-color: #262728;
    border-radius: 56px;
    padding: 144px 0;

    .title {
        font-weight: 500;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 34.1px;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .content {
        font-family: NeueRegular;
        font-weight: 400;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 32.5px;
        letter-spacing: 0.16px;
        color: #CFCFCF;
        max-width: 672px;
        margin-bottom: 48px;
    }

    .scrollContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        .scollTitle {
            font-family: NeueRegular;
            font-weight: 500;
            font-size: 24px;
            leading-trim: NONE;
            line-height: 34.1px;
            letter-spacing: 0px;
            text-align: center;
            margin-top: 40px;
            color: #FFFFFF;
        }

        margin-bottom: 63px;
    }


    .splide_arrows {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 0 32px 32px 32px;
    }

    .scrollSlide {
        /*img{*/
        /*    border-radius: 56px;*/
        /*}*/
        /*border-radius: 56px;*/

        button {
            background: unset;
            border: unset;
        }


        .splide__slide {
            height: 860px;
            overflow-y: scroll;
            /*border-radius: 56px;*/
            background-clip: padding-box;


        }


    }


}
