.container {
    background-color: white;
    border-top-left-radius: 56px;
    border-top-right-radius: 56px;

    .titleContainer {
        padding: 144px 0 0 0;
        display: flex;
        justify-content: space-between;
        padding-bottom: 48px;

        p:nth-child(1) {
            font-weight: 500;
            font-size: 24px;
            leading-trim: NONE;
            line-height: 34.1px;
            letter-spacing: 0px;
            color: #262728;
            font-family: 'NeueRegular';
        }

        p:nth-child(2) {
            font-family: 'NeueRegular';
            font-weight: 400;
            font-size: 20px;
            line-height: 32.5px;
            letter-spacing: 0.16px;
            color: #262728;
            flex-basis: 1024px;
        }
    }

}

.mobileSlideArea {
    padding-bottom: 144px;
    background: white;
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;
    .scrollSlide {

        height: 720px;
        position: relative;
        .slideImage_mobile{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        background: white;
        .splide__slide{
            display: flex;
            &>div{
                flex:1;
                padding: 95px 0;
                .slideImage_mobile{
                    height: 528px;
                    width: 244px;
                    overflow-y: scroll;
                    border-radius: 24px;
                }
                &:nth-child(2){
                    background: black;
                    border-radius: 96px;
                }
            }
        }


        .splide_arrows {
            padding: 0 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            top:50%;
            transform: translateY(-50%);
            height: auto;
            button{
                background: unset;
                border: unset;
            }
        }
    }
}

