@use '../../mixins/responsive.scss' as *;

.dropdownMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(38, 39, 40, 1);
    z-index: 8888;
    display: none;
}


.ulList {
    list-style: none;
}

.dropdownMenu--visible {
    display: block;
}

.containerBack {
    background: rgba(38, 39, 40, 1);
    height: 100vh;
    overflow-y: auto;

}
.containerBack::-webkit-scrollbar{
    width: 4px;
}
.containerBack::-webkit-scrollbar-track{
    background: rgba(38, 39, 40, 1);
}
.containerBack::-webkit-scrollbar-thumb{
    background-color:white;
}
.menuContainer {
    padding-top: 96px;
    display: flex;
    gap: 118px;
    align-items: center;
    padding-bottom: 144px;
    @include res(mobmd){
        padding-top:60px;
        flex-direction: column;
        gap:60px;
        align-items: flex-start;
        padding-bottom: 88px;
    }
}

.menuTitle span {
    font-family: Neueregular;
    font-weight: 400;
    font-size: 192px;
    line-height: 223px;
    letter-spacing: -3px;
    color: rgba(255, 255, 255, 1);
    @include res(mobmd){
        font-weight: 400;
        font-size: 56px;
        line-height: 65px;
        letter-spacing: -0.5px;
    }
}

.menuLink {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    @include res(mobmd){
        gap:4px;
    }
}

.menuIcon svg {
    width: 60px;
    height: 60px;
    @include res(mobmd){
        width:36px;
        height: 36px;
    }
}


.menuItemName span {
    font-family: NeueRegular;
    font-weight: 400;
    font-size: 56px;
    leading-trim: Cap height;
    line-height: 100%;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 1);
    @include res(mobmd){
        font-weight: 400;
        font-size: 28px;
        leading-trim: Cap height;
        line-height: 100%;
        letter-spacing: 0px;
    }
}